
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Consulting | Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="~/User/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/User/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/User/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/User/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/User/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/User/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/User/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="~/User/assets/css/gijgo.css">
    <link rel="stylesheet" href="~/User/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/User/assets/css/animated-headline.css">
    <link rel="stylesheet" href="~/User/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/User/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/User/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/User/assets/css/slick.css">
    <link rel="stylesheet" href="~/User/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/User/assets/css/style.css">
    <link rel="stylesheet" href="~/User/assets/css/stylebackgroup.css">
    <link rel="stylesheet" href="~/User/assets/css/test.css">


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet">
    <link href="~/User/css/EditProfile.css" rel="stylesheet" type="text/css">
</head>
<body>

    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/User/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->
    <!-- Header -->
    <partial name="_Header" />
    <!-- Header -->
    <!-- Main -->
    <!--<partial name="_Main" />-->
    <!-- end Main -->
    <!-- Footer -->
    <div>
        @RenderBody()
    </div>
    <partial name="_Footer" />
    <!--end Footer -->
    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="~/User/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/User/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/User/assets/js/popper.min.js"></script>
    <script src="~/User/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/User/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/User/assets/js/owl.carousel.min.js"></script>
    <script src="~/User/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/User/assets/js/wow.min.js"></script>
    <script src="~/User/assets/js/animated.headline.js"></script>
    <script src="~/User/assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="~/User/assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="~/User/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/User/assets/js/jquery.sticky.js"></script>
    <!-- Progress -->
    <script src="~/User/assets/js/jquery.barfiller.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="~/User/assets/js/jquery.counterup.min.js"></script>
    <script src="~/User/assets/js/waypoints.min.js"></script>
    <script src="~/User/assets/js/jquery.countdown.min.js"></script>
    <script src="~/User/assets/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="~/User/assets/js/contact.js"></script>
    <script src="~/User/assets/js/jquery.form.js"></script>
    <script src="~/User/assets/js/jquery.validate.min.js"></script>
    <script src="~/User/assets/js/mail-script.js"></script>
    <script src="~/User/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/User/assets/js/plugins.js"></script>
    <script src="~/User/assets/js/main.js"></script>


</body>
</html>
