<header>
    <!-- Header Start -->
    <div class="header-area header_area">
        <div class="main-header">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="index.html"><img src="~/User/assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-8">
                            <div class="header-left  d-flex f-right align-items-center">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a asp-controller="index" asp-action="index">Home</a></li>
                                            <li>
                                                <a href="#">Pages</a>
                                                <ul class="submenu">
                                                    <li><a asp-controller="about" asp-action="about">About</a></li>
                                                    <li><a href="elements.html">Element</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="services.html">Services</a></li>
                                            <li>
                                                <a asp-controller="blog" asp-action="blog">Blog</a>
                                                <ul class="submenu">
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog_details.html">Blog Details</a></li>
                                                </ul>
                                            </li>
                                            <li><a asp-controller="contact" asp-action="contact">Contant</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- left Btn -->
                                <div class="header-right-btn f-right d-none d-lg-block  ml-30">
                                    <a href="#" class="header-btn">Make an Appointment</a>
                                </div>

                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">

                                            <li>
                                                <a>WelCome | @ViewBag.username<img src="#" /></a>
                                                <ul class="submenu">
                                                    <li><a href="blog.html">Profile</a></li>
                                                    <li><a href="blog_details.html">Create Event</a></li>
                                                    <li><a href="blog_details.html">Settings</a></li>
                                                    <li><a href="blog_details.html">Activity Log</a></li>
                                                    <li><a href="blog_details.html"></a></li>
                                                    <li><a href="blog_details.html">Logout</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

