@model InstituteOfFineArt.Models.Test
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutDetailCompetition.cshtml";
}

<section class="bg-gradient-primary-to-secondary" id="download">
    <div class="container px-5">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-gradient-primary-to-secondary p-4">

                    <h5 class="modal-title font-alt text-white" id="feedbackModalLabel">Submit Test</h5>
                </div>
                <div class="modal-body border-0 p-4">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->

                    <form method="post" id="contactForm" data-sb-form-api-token="API_TOKEN" asp-action="edit" asp-controller="detailcompetition" enctype="multipart/form-data">

                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input asp-for="NameTest" class="form-control" id="name" type="text" placeholder="Enter your name's test..." name="NameTest" pattern="[A-z]{5,10}" title="NameTest must have at least 5 letters and the first must be capitalized" required />

                            <label for="name">Name's Test  </label>

                        </div>
                        <!-- Price -->
                        <div class="form-floating mb-3">
                            <input asp-for="Price" class="form-control" required type="text" placeholder="Price" />
                            <label for="price">Price</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea asp-for="Desc" class="form-control" id="message" type="text" placeholder="desc..." style="height: 10rem" name="Desc"  required></textarea>
                            <label for="message">Desc</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea asp-for="Content" class="form-control" id="message" type="text" placeholder="Content..." style="height: 10rem" name="Content"  required></textarea>
                            <label for="message">Content</label>
                        </div>

                        <div class="form-floating mb-3">
                            <div class="pl-sm-4 pl-2" id="img-section">

                                <b>Image Of Test</b>
                                <p>Accepted file type .png. Less than 1MB</p> <input asp-for="ImgOfTest" type="file" name="file" value="Add" onchange="show(this)">
                                <img id="user_img" src="" alt="Alternate Text" class="img" />

                            </div>
                        </div>

                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        @*<input type="hidden" asp-for="IdTest" />*@
                        <div class="d-grid btn btn-success "> <input class="btn-success " type="submit" value="Update"  /></div>


                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

