
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container emp-profile">
    <div>
        <a class="card-title" asp-controller="profile" asp-action="index">Back</a>
    </div>
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" asp-action="search" asp-controller="showtest" method="get">
        <div class="input-group">
            <input type="text" name="keyword" class="form-control bg-white border-0 small" placeholder="Search for..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                @*<button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>*@
                <input class="btn btn-primary" type="submit" name="idtest" value="Search" />
            </div>
        </div>
    </form>
    <form>

        <h4 class="card-title">
            Registered Contests

        </h4>



        <div class="tab-content profile-tab" id="myTabContent">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Id Account</th>
                        <th>Login's Date</th>
                        <th>IP Address</th>
                    </tr>
                </thead>
                @foreach (var login in ViewBag.loginhistory)
                {
                    <tbody>
                        <tr>
                            <td>@login.IdAcc</td>
                            <td>@login.DateLogin</td>
                            <td>@login.IpAddr</td>

                        </tr>


                    </tbody>

                }
            </table>



        </div>



        @*</div>*@

    </form>

</div>

