@model InstituteOfFineArt.Models.Feedback
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    ? slider Area Start
    <div class="slider-area slider-area2 slider-height2 position-relative" data-background="~/User/assets/img/hero/hero2.png">
        <div class="slider-active">
            Single Slider
            <div class="single-slider">
                <div class="slider-cap-wrapper">
                    <div class="hero-caption">
                        <h1 data-animation="fadeInLeft" data-delay=".4s">Contact</h1>
                        breadcrumb Start
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">about</a></li>
                            </ol>
                        </nav>
                    </div>
                    breadcrumb End
                    <div class="hero-img">
                        <img src="~/User/assets/img/hero/h1_hero2.png" alt="" data-animation="fadeInRight" data-transition-duration="5s">
                    </div>
                </div>
            </div>
        </div>

    </div>
    slider Area End
    ?  Contact Area start
    <section class="contact-section">
        <div class="container">
            <div class="d-none d-sm-block mb-5 pb-4">
                <div class="row">
                    <div class="col-12">
                          <h2 class="contact-title">Get in Touch</h2>
                        
                        </div>
                    <div class="col-lg-8">

                        @*<form method="post" asp-controller="contact" asp-action="sendmail" class="user">
                                @if (ViewBag.Error != null)
                                {
                                    <h2>@ViewBag.Error</h2>
                                }

                                <div class="form-group">
                                    <input type="text" name="REmail" class="form-control form-control-user"
                                           id="exampleInputEmail" aria-describedby="emailHelp"
                                           placeholder="Enter Email Address...">
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Reset Password
                                </button>
                            </form>*@
                        <form class="form-contact contact_form" asp-controller="contact" asp-action="sendmail" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input asp-for="Mail" class="form-control valid" name="REmail" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email To .......">
                                    </div>
                            </div>  
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input class="form-control valid" name="Pass" id="name" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter Your Email Password ....">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            @*<textarea asp-for="Mess" class="form-control w-100" name="Body" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder=" Enter Message"></textarea>*@
                                            <textarea  asp-for="Mess"  rows="5" name="Body" class="form-control form-control-line" placeholder=" Enter Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input asp-for="Fullname" class="form-control valid" name="Fullname" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name">
                                        </div>
                                    </div>
                                    @*<div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control valid" name="Receiver" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email receiver : instituteoffineart2001@gmail.com">
                    </div>
                </div>*@

                                    <div class="col-12">
                                        <div class="form-group">
                                            <input class="form-control" name="Sub" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject">
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group mt-3">
                                    <button type="submit" class="button button-contactForm boxed-btn">Send</button>
                                </div>
                        </form>

                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h3>Buttonwood, California.</h3>
                                <p>Rosemead, CA 91770</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>+1 253 565 2365</h3>
                                <p>Mon to Fri 9am to 6pm</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <h3>support@colorlib.com</h3>
                                <p>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    Contact Area End
</main>

