
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- slider Area Start-->
    <div class="slider-area slider-area2 slider-height2 position-relative" data-background="~/User/assets/img/hero/hero2.png">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider">
                <div class="slider-cap-wrapper">
                    <div class="hero-caption">
                        <h1 data-animation="fadeInLeft" data-delay=".4s">About Us</h1>
                        <!-- breadcrumb Start-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">about</a></li>
                            </ol>
                        </nav>
                    </div>

                    <!-- breadcrumb End -->
                    <div class="hero-img">
                        <img src="~/User/assets/img/hero/h1_hero2.png" alt="" data-animation="fadeInRight" data-transition-duration="5s">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- slider Area End-->
    <!--! About Area Start 01 -->
    <section class="about-area fix pt-top">
        <!--Right Contents  -->
        <div>
            <img src="~/About/images/dongque.jpg" width="100%" height="100%" alt="Alternate Text" />
        </div>
        <!-- left Contents -->
        <div class="about-details">
            <div class="right-caption">
                <!-- Section Tittle -->
                <div class="section-tittle mb-50">
                    <br />
                    <br />
                    <h2>
                        Contest overview  <br>Target item?
                    </h2>
                </div>
                <div class="about-more">
                    <p>
                        A contest launched by the organizers of the Fine Arts Institute. The road is an opportunity for students in the school to share their achievements, the people they have done and the things they have not done or regret. At the same time, he shared about his plans and cherished plans about his family life and work in the coming years. The contest is also an opportunity for each machine and worker to show their love and understanding for the organization to the Fine Arts Institute. At the same time, there are commitments and implementation of Vietmec's projects and plans to be implemented in the year to build a rich and powerful art institute.
                    </p>
                    <p class="pera-bottom">
                        The contest is an opportunity for each individual in the group to share about the battlefields, do's and don'ts of each individual in the past year 2020.
                        <br />
                        It is an opportunity for each individual to share his or her own cherished plans and projects in the coming year, the benefits and difficulties when the plan is implemented....
                        <br />
                        @*It is an activity to connect the feelings of departments with staff, between colleagues, between students and between facilities in the community school.*@
                        
                    </p>
                    @*<div class="footer-tittles">
                        <p>CEO, Consulto</p>
                        <h2>Capcilena Hanry</h2>
                    </div>*@
                </div>
            </div>
        </div>
    </section>
   

    <!-- About Area End-->
    <!--! About Area Start 02-->
    <div class="about-area2">
        <!-- left Contents -->
        <div class="about-details2">
            <div class="right-caption2">
                <!-- Section Tittle -->
                <div class="section-tittle mb-50">
                    <h2>Creative solutions<br>from experts</h2>
                </div>
                <!-- collapse-wrapper -->
                <div class="collapse-wrapper">
                    <div class="accordion" id="accordionExample">
                        <!-- single-one -->
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Fine art in field painting</a>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    Painting is considered an important part of fine art, and is also a popular art variant. This is the art of drawing on a two-dimensional surface directly, or roughly explained, a painter uses colors and pencils to paint on a smooth surface (paper, cloth, ...) to express ideas. art. This work is called the painter.
                                    <br />
                                    As a result of this work, works of art were born, also known as paintings. In other words, painting is a form of expressing artists' ideas by painting works using the artist's technique (art) and method (art).
                                    <br />
                                    <img src="~/About/images/hoihoa.jpg" width="300" height="200" alt="Alternate Text" />
                                </div>
                            </div>
                        </div>
                        <!-- single-two -->
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Fine Arts in the field of Graphics</a>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    Graphics are art forms on two-dimensional surfaces indirectly through printing techniques. Therefore, graphic works often have many copies. Graphics are often used for communication, advertising, business purposes, etc. Therefore, this is an emerging industry and attracts many young people to learn. Not only having creativity and aesthetics, the graphic design industry requires workers to be able to use modern tools, equipment and specialized software.
                                    <br />
                                    There are many different types of graphics such as stand-alone graphics, print graphics, computer graphics, etc.
                                    <br />
                                    <img src="~/About/images/dohoa.jpg" width="300" height="200" alt="Alternate Text" />
                                </div>
                            </div>
                        </div>
                        <!-- single-three -->
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Fine art in the harsh field</a>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Oscillation is a three-dimensional (circular) or two-dimensional (vertex, floating point) art that is shaped from different combined materials such as plaster, wood, metal, stone, glass, clay, etc. Sculptors are called sculptors.
                                    <br />
                                    In addition to ideas, skilled hands, practice and ingenuity play a huge role here. There are many types of sculptures, typical sculptures, sculptures, etc. And there are many steps in the process to create a work such as corrugated iron, casting, mound, etc.
                                    <br />
                                    <img src="~/About/images/dieukhac.jpg"  width="300" height="200" alt="Alternate Text" />
                                </div>
                            </div>
                        </div>
                        <!-- single-four -->
                        @*<div class="card">
                            <div class="card-header" id="headingfouree">
                                <h2 class="mb-0">
                                    <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFoure" aria-expanded="false" aria-controls="collapseFoure">Process the automated magic.</a>
                                </h2>
                            </div>
                            <div id="collapseFoure" class="collapse" aria-labelledby="headingfouree" data-parent="#accordionExample">
                                <div class="card-body">
                                    The automated process starts as soon as
                                    your clothes go into the machine. Duis cursus, mi
                                    quis viverra ornare.
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        <!--Right Contents  -->
        <div class="about-img2">
            <div class="info-man2">
                <div class="head-cap2">
                    <img src="~/User/assets/img/icon/quality.svg" alt="">
                    <h3>900+</h3>
                </div>
                <p>
                    The number of people participating in the contest and succeeding is increasing
                    <br>Their age is spread at home and abroad
                </p>
            </div>
            <div class="info-man2 info-man3">
                <div class="head-cap2">
                    <img src="~/User/assets/img/icon/heart.svg" alt="">
                    <h3>95%</h3>
                </div>
                <p>Traditional art is popular at home and abroad<br>According to the statistics of the Vietnam Fine Arts Institute Company</p>
            </div>
        </div>
    </div>
    <!-- About Area End-->
    <!--? Testimonial Area Start -->
    <section class="testimonial-area testimonial-padding fix" data-background="~/User/assets/img/gallery/section_bg03.png">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class=" col-lg-9">
                    <div class="about-caption">
                        <!-- Testimonial Start -->
                        <div class="h1-testimonial-active dot-style">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial position-relative">
                                <div class="testimonial-caption">
                                    <img src="~/User/assets/img/icon/quotes-sign.png" alt="" class="quotes-sign">
                                    <p>
                                        Leonardo da Vinci was born on April 15, 1452 – April 23 according to the present Gregorian calendar – in Anchiano, Italy, died May 2 – May 11 according to the present Gregorian calendar – in 1519 in Amboise, France. He was a painter, sculptor, architect, musician, physician, engineer, anatomist, innovator and natural philosopher.
                                        <br />
                                        He was a man whose ideas were ahead of his time, especially the concept of helicopters, tanks, parachute, the use of solar convergence, computers, draft theory of tectonics. terrain, double bottom ships, and many other inventions.
                                    </p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center">
                                    <div class="founder-img">
                                        <img src="~/User/assets/img/icon/leonardo-da-vinci-1.jpg" style="border-radius: 50%; border: 2px solid #FD8F5F; height: 100px; margin: 20px; padding: 10px; text-align: center; width: 100px;" alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span>Leonardo da Vinci</span>
                                        <p>famous Italian painter</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial position-relative">
                                <div class="testimonial-caption">
                                    <img src="~/User/assets/img/icon/quotes-sign.png" alt="" class="quotes-sign">
                                    <p>
                                        Pablo Ruiz Picasso (October 25, 1881 – April 8, 1973), commonly known as Pablo Picasso or Picasso, was a Spanish painter and sculptor. Picasso is considered one of the most famous artists of the 20th century, he, along with Georges Braque, were the two founders of the established school in painting and sculpture. He is one of the 10 greatest painters in the top 200 artists who created the world's greatest images of the 20th century published by The Times magazine, UK.
                                        <br />
                                        - "Nude on a Black Armchair" - sold for $45.1 million in 1999.
                                        <br />
                                        Les Noces de Pierrette - sold for more than $51 million in 1999.
                                        <br />
                                        Garcon à la pipe - sold for $104 million at Sotheby's on May 4, 2004 set a world record for the price of a work of art...vv.v
                                    </p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center">
                                    <div class="founder-img">
                                        <img src="~/User/assets/img/icon/le4.jpg" style="border-radius: 50%; border: 2px solid #FD8F5F; height: 100px; margin: 20px; padding: 10px; text-align: center; width: 100px;" alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span>Pablo Picasso</span>
                                        <p>Famous Spanish painter</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial End -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--? Testimonial Area End -->
    <!-- Home Blog Start -->
    <!--<section class="home-blog section-padding40 fix">
        <div class="container">
            <div class="row justify-content-center">
                <div class="cl-xl-7 col-lg-8 col-md-10">-->
                    <!-- Section Tittle -->
                    <!--<div class="section-tittle text-center mb-70">
                        <span>Case studies</span>
                        <h2>Some great stuffs we have done</h2>
                    </div>
                </div>
            </div>
            <div class="blog-active">-->
                <!-- Single -->
                <!--<div class="single-blogs">
                    <div class="blog-img">
                        <img src="~/User/assets/img/gallery/blogs1.png" alt="">
                    </div>
                    <div class="blogs-cap">
                        <h5><a href="#">Starts the automated process.</a></h5>
                        <p>The automated process starts as soon as your  clothes go into the machine.</p>
                    </div>
                    <div class="stickers">
                        <span>Urban</span>
                    </div>
                </div>-->
                <!-- Single -->
                <!--<div class="single-blogs">
                    <div class="blog-img">
                        <img src="~/User/assets/img/gallery/blogs2.png" alt="">
                    </div>
                    <div class="blogs-cap">
                        <h5><a href="#">Starts the automated process.</a></h5>
                        <p>The automated process starts as soon as your  clothes go into the machine.</p>
                    </div>
                    <div class="stickers">
                        <span>Urban</span>
                    </div>
                </div>-->
                <!-- Single -->
                <!--<div class="single-blogs">
                    <div class="blog-img">
                        <img src="~/User/assets/img/gallery/blogs3.png" alt="">
                    </div>
                    <div class="blogs-cap">
                        <h5><a href="#">Starts the automated process.</a></h5>
                        <p>The automated process starts as soon as your  clothes go into the machine.</p>
                    </div>
                    <div class="stickers">
                        <span>Urban</span>
                    </div>
                </div>-->
                <!-- Single -->
                <!--<div class="single-blogs">
                    <div class="blog-img">
                        <img src="~/User/assets/img/gallery/blogs2.png" alt="">
                    </div>
                    <div class="blogs-cap">
                        <h5><a href="#">Starts the automated process.</a></h5>
                        <p>The automated process starts as soon as your  clothes go into the machine.</p>
                    </div>
                    <div class="stickers">
                        <span>Urban</span>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Home Blog End -->
    <!--? Office environment  Start-->
    <section class="office-environments section-bg2 section-padding40" data-background="~/User/assets/img/gallery/section_bg02.png">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-8">
                    <div class="office-pera">
                        <div class="section-tittle">
                            <h2 class="mb-30">
                               
                            How to register for the Contest is as follows:
                            </h2>
                            <p>
                               + School students register online account information.
                                <br />
                               + Register personal email information, phone number and address.
                                <br />
                               + Candidates submit the application on time and will be disqualified if not submitted.
                                <br />
                               + Contestants are allowed to correct their essays before the end of the time contest.
                                <br />
                               + Candidates read the topic carefully before confusing the topic.
                                <br />
                               + Candidates with questions, please contact me via email <a href="#">instituteoffineart2001@gmail.com</a>
                            </p>

                            @*<p>
                                Interdum nulla, ut commodo diam libero vitae erat.
                                Aenean faucibus nibh et justo cursus id rutrum lorem
                                imperdiet. Nunc ut sem vitae risus tristique posuere.
                            </p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Office environment  End-->
    <!--? Team Ara Start -->
    <section class="team-area section-padding40">
        <div class="container">
            <div class="row justify-content-center">
                <div class="cl-xl-7 col-lg-8 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-70">
                        <span>Experts</span>
                        <h2>The most famous legendary painter in the world</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="~/User/assets/img/gallery/Vincent van Gogh.jpg" width="350" height="350" alt="">
                            @*<div class="team-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>*@
                        </div>
                        <div class="team-caption">
                            <h3><a href="#">Vincent van Gogh</a></h3>
                            <p>Famous Dutch painter</p>
                        </div>
                        <!-- Blog Social -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="~/User/assets/img/gallery/Edouard Manet.jpg" width="350" height="350" alt="">
                            @*<div class="team-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>*@
                        </div>
                        <div class="team-caption">
                            <h3><a href="#"> Edouard Manet </a></h3>
                            <p>Famous French painters</p>
                        </div>
                        <!-- Blog Social -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="~/User/assets/img/gallery/Rembrandt.jpg" width="350" height="350" alt="">
                            @*<div class="team-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>*@
                        </div>
                        <div class="team-caption">
                            <h3><a href="#">Rembrandt</a></h3>
                            <p>Famous Dutch painter</p>
                        </div>
                        <!-- Blog Social -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="~/User/assets/img/gallery/Andy Warhol.jpg" width="350" height="350" alt="">
                            @*<div class="team-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>*@
                        </div>
                        <div class="team-caption">
                            <h3><a href="#">Andy Warhol </a></h3>
                            <p>Famous American painter</p>
                        </div>
                        <!-- Blog Social -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Ara End -->
    <!--? Want To work -->
    <section class="wantToWork-area section-bg2" data-background="~/User/assets/img/gallery/section_bg01.png">
        <div class="container">
            <div class="wants-wrapper w-padding2">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="wantToWork-caption wantToWork-caption2">
                            <h2>Need a consulting service?</h2>
                            <p>
                                
                                The automatic process starts as soon as you email us.
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <a href="#" class="btn w-btn wantToWork-btn mr-20">Make an Appointment</a>
                        <a href="#" class="btn2 w-btn wantToWork-btn"><i class="fa fa-envelope">:instituteoffineart2001@gmail.com</i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Want To work End -->
</main>

