<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Consulting | Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="~/User/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/User/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/User/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/User/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/User/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/User/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/User/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="~/User/assets/css/gijgo.css">
    <link rel="stylesheet" href="~/User/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/User/assets/css/animated-headline.css">
    <link rel="stylesheet" href="~/User/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/User/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/User/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/User/assets/css/slick.css">
    <link rel="stylesheet" href="~/User/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/User/assets/css/style.css">
    <link rel="stylesheet" href="~/User/assets/css/stylebackgroup.css">

</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/User/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->
    <header>
        <!-- Header Start -->
        <div class="header-area header_area">
            <div class="main-header">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                    <a href="index.html"><img src="~/User/assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-8">
                                <div class="header-left  d-flex f-right align-items-center">
                                    <!-- Main-menu -->
                                    <div class="main-menu f-right d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="index.html">Home</a></li>
                                                <li>
                                                    <a href="#">Pages</a>
                                                    <ul class="submenu">
                                                        <li><a asp-controller="about" asp-action="about">About</a></li>
                                                        <li><a href="elements.html">Element</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="services.html">Services</a></li>
                                                <li>
                                                    <a href="blog.html">Blog</a>
                                                    <ul class="submenu">
                                                        <li><a href="blog.html">Blog</a></li>
                                                        <li><a href="blog_details.html">Blog Details</a></li>
                                                    </ul>
                                                </li>
                                                <li><a asp-controller="contact" asp-action="contact">Contant</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- left Btn -->
                                    <div class="header-right-btn f-right d-none d-lg-block  ml-30">
                                        <a href="#" class="header-btn">Make an Appointment</a>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="main-menu f-right d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li>
                                                    <a href="blog.html">Tên người dùng login vào <img src="assets/img/logo/logo.png" /></a>
                                                    <ul class="submenu">
                                                        <li><a href="blog.html">Profile</a></li>
                                                        <li><a href="blog.html">Create Event</a></li>
                                                        <li><a href="blog_details.html">Settings</a></li>
                                                        <li><a href="blog_details.html">Activity Log</a></li>
                                                        <li><a href="#"></a></li>
                                                        <li><a href="blog_details.html">Logout</a></li>
                                                    </ul>
                                                </li>
                                                
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? slider Area Start-->
        <div class="slider-area  slider-height position-relative" data-background="~/User/assets/img/hero/h1_hero.png">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider">
                    <div class="slider-cap-wrapper">
                        <div class="hero-caption">
                            <span>Best Service</span>
                            <h1 data-animation="fadeInLeft" data-delay=".4s">Business  Consulting</h1>
                            <p data-animation="fadeInLeft" data-delay=".6s">
                                The automated process starts as soon as
                                your clothes go into the machine.
                            </p>
                            <!-- Hero Btn -->
                            <a href="#" class="btn" data-animation="fadeInLeft" data-delay=".9s">Explore Services</a>
                        </div>
                        <div class="hero-img">
                            <img src="~/User/assets/img/hero/h1_hero1.png" alt="" data-animation="fadeInRight" data-transition-duration="5s">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video icon -->
            <div class="video-icon">
                <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0"><i class="fas fa-play"></i></a>
            </div>
        </div>
        <!-- slider Area End-->
        <!--? Services Area Start -->
        <section class="services-section section-padding30 fix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-10 col-md-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-70">
                            <span>Our Service</span>
                            <h2>We bring ideas to life by combining years of experiences of our very talented team.</h2>
                        </div>
                    </div>
                </div>
                <div class="services-active">
                    <div class="single-services section-over1 text-center">
                        <div class="services-img">
                            <img src="~/User/assets/img/gallery/team1.png" alt="">
                            <div class="services-caption">
                                <h3><a href="#">Business consulting</a></h3>
                                <p>The automated process starts as soon <br>as your clothes go into the machine.</p>
                                <a href="#" class="btn btn3">Make Appointment</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-services section-over1 text-center">
                        <div class="services-img">
                            <img src="~/User/assets/img/gallery/team2.png" alt="">
                            <div class="services-caption">
                                <h3><a href="#">Media planing</a></h3>
                                <p>The automated process starts as soon <br>as your clothes go into the machine.</p>
                                <a href="#" class="btn btn3">Make Appointment</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-services section-over1 text-center">
                        <div class="services-img">
                            <img src="~/User/assets/img/gallery/team3.png" alt="">
                            <div class="services-caption">
                                <h3><a href="#">Professional HR</a></h3>
                                <p>The automated process starts as soon <br>as your clothes go into the machine.</p>
                                <a href="#" class="btn btn3">Make Appointment</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-services section-over1 text-center">
                        <div class="services-img">
                            <img src="~/User/assets/img/gallery/team2.png" alt="">
                            <div class="services-caption">
                                <h3><a href="#">Media planing</a></h3>
                                <p>The automated process starts as soon <br>as your clothes go into the machine.</p>
                                <a href="#" class="btn btn3">Make Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Services Area End -->
        <!--! About Area Start 01 -->
        <section class="about-area fix">
            <!--Right Contents  -->
            <div class="about-img">

            </div>
            <!-- left Contents -->
            <div class="about-details">
                <div class="right-caption">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-50">
                        <h2>Our<br>Philosophy</h2>
                    </div>
                    <div class="about-more">
                        <p>
                            The automated process starts as soon as
                            your clothes go into the machine. Duis cursus, mi quis
                            viverra ornare, eros dolor interdum nulla, ut commodo
                            diam libero vitae erat. Aenean faucibus nibh et justo
                            cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                            risus tristique posuere.
                        </p>
                        <p class="pera-bottom">
                            Interdum nulla, ut commodo diam libero vitae erat.
                            Aenean faucibus nibh et justo cursus id rutrum lorem
                            imperdiet. Nunc ut sem vitae risus tristique posuere.
                        </p>
                        <div class="footer-tittles">
                            <p>CEO, Consulto</p>
                            <h2>Capcilena Hanry</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End-->
        <!--! About Area Start 02-->
        <div class="about-area2">
            <!-- left Contents -->
            <div class="about-details2">
                <div class="right-caption2">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-50">
                        <h2>Creative solutions<br>from experts</h2>
                    </div>
                    <!-- collapse-wrapper -->
                    <div class="collapse-wrapper">
                        <div class="accordion" id="accordionExample">
                            <!-- single-one -->
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Starts the automated process.</a>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        The automated process starts as soon as
                                        your clothes go into the machine. Duis cursus, mi
                                        quis viverra ornare.
                                    </div>
                                </div>
                            </div>
                            <!-- single-two -->
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">The automated process starts.</a>
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        The automated process starts as soon as
                                        your clothes go into the machine. Duis cursus, mi
                                        quis viverra ornare.
                                    </div>
                                </div>
                            </div>
                            <!-- single-three -->
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Automated process starts.</a>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        The automated process starts as soon as
                                        your clothes go into the machine. Duis cursus, mi
                                        quis viverra ornare.
                                    </div>
                                </div>
                            </div>
                            <!-- single-four -->
                            <div class="card">
                                <div class="card-header" id="headingfouree">
                                    <h2 class="mb-0">
                                        <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFoure" aria-expanded="false" aria-controls="collapseFoure">Process the automated magic.</a>
                                    </h2>
                                </div>
                                <div id="collapseFoure" class="collapse" aria-labelledby="headingfouree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        The automated process starts as soon as
                                        your clothes go into the machine. Duis cursus, mi
                                        quis viverra ornare.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Right Contents  -->
            <div class="about-img2">
                <div class="info-man2">
                    <div class="head-cap2">
                        <img src="~/User/assets/img/icon/quality.svg" alt="">
                        <h3>900+</h3>
                    </div>
                    <p>Interdum nulla, ut commodo<br>diam libero vitae erat.</p>
                </div>
                <div class="info-man2 info-man3">
                    <div class="head-cap2">
                        <img src="~/User/assets/img/icon/heart.svg" alt="">
                        <h3>95%</h3>
                    </div>
                    <p>Interdum nulla, ut commodo<br> diam libero vitae erat.</p>
                </div>
            </div>
        </div>
        <!-- About Area End-->
        <!--? Testimonial Area Start -->
        <section class="testimonial-area testimonial-padding fix" data-background="~/User/assets/img/gallery/section_bg03.png">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class=" col-lg-9">
                        <div class="about-caption">
                            <!-- Testimonial Start -->
                            <div class="h1-testimonial-active dot-style">
                                <!-- Single Testimonial -->
                                <div class="single-testimonial position-relative">
                                    <div class="testimonial-caption">
                                        <img src="~/User/assets/img/icon/quotes-sign.png" alt="" class="quotes-sign">
                                        <p>Brook presents your services with flexible, convenient and cdpose layouts. You can select your favorite layouts & elements for cular ts with unlimited ustomization possibilities. Pixel-perfect replica;ition of thei designers ijtls intended csents your se.</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center">
                                        <div class="founder-img">
                                            <img src="~/User/assets/img/icon/testimonial.png" alt="">
                                        </div>
                                        <div class="founder-text">
                                            <span>Robart Brown</span>
                                            <p>Creative designer at Colorlib</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Testimonial -->
                                <div class="single-testimonial position-relative">
                                    <div class="testimonial-caption">
                                        <img src="~/User/assets/img/icon/quotes-sign.png" alt="" class="quotes-sign">
                                        <p>Brook presents your services with flexible, convenient and cdpose layouts. You can select your favorite layouts & elements for cular ts with unlimited ustomization possibilities. Pixel-perfect replica;ition of thei designers ijtls intended csents your se.</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center">
                                        <div class="founder-img">
                                            <img src="~/User/assets/img/icon/testimonial.png" alt="">
                                        </div>
                                        <div class="founder-text">
                                            <span>Robart Brown</span>
                                            <p>Creative designer at Colorlib</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial End -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--? Testimonial Area End -->
        <!-- Home Blog Start -->
        <section class="home-blog section-padding40 fix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-70">
                            <span>Case studies</span>
                            <h2>Some great stuffs we have done</h2>
                        </div>
                    </div>
                </div>
                <div class="blog-active">
                    <!-- Single -->
                    <div class="single-blogs">
                        <div class="blog-img">
                            <img src="~/User/assets/img/gallery/blogs1.png" alt="">
                        </div>
                        <div class="blogs-cap">
                            <h5><a href="#">Starts the automated process.</a></h5>
                            <p>The automated process starts as soon as your  clothes go into the machine.</p>
                        </div>
                        <div class="stickers">
                            <span>Urban</span>
                        </div>
                    </div>
                    <!-- Single -->
                    <div class="single-blogs">
                        <div class="blog-img">
                            <img src="~/User/assets/img/gallery/blogs2.png" alt="">
                        </div>
                        <div class="blogs-cap">
                            <h5><a href="#">Starts the automated process.</a></h5>
                            <p>The automated process starts as soon as your  clothes go into the machine.</p>
                        </div>
                        <div class="stickers">
                            <span>Urban</span>
                        </div>
                    </div>
                    <!-- Single -->
                    <div class="single-blogs">
                        <div class="blog-img">
                            <img src="~/User/assets/img/gallery/blogs3.png" alt="">
                        </div>
                        <div class="blogs-cap">
                            <h5><a href="#">Starts the automated process.</a></h5>
                            <p>The automated process starts as soon as your  clothes go into the machine.</p>
                        </div>
                        <div class="stickers">
                            <span>Urban</span>
                        </div>
                    </div>
                    <!-- Single -->
                    <div class="single-blogs">
                        <div class="blog-img">
                            <img src="~/User/assets/img/gallery/blogs2.png" alt="">
                        </div>
                        <div class="blogs-cap">
                            <h5><a href="#">Starts the automated process.</a></h5>
                            <p>The automated process starts as soon as your  clothes go into the machine.</p>
                        </div>
                        <div class="stickers">
                            <span>Urban</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Home Blog End -->
        <!--? Office environment  Start-->
        <section class="office-environments section-bg2 section-padding40" data-background="assets/img/gallery/section_bg02.png">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-8">
                        <div class="office-pera">
                            <div class="section-tittle">
                                <h2 class="mb-30">Office <br>Environment</h2>
                                <p>
                                    The automated process starts as soon as
                                    your clothes go into the machine. Duis cursus, mi quis
                                    viverra ornare, eros dolor interdum nulla, ut commodo
                                    diam libero vitae erat. Aenean faucibus nibh et justo
                                    cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                                    risus tristique posuere.
                                </p>

                                <p>
                                    Interdum nulla, ut commodo diam libero vitae erat.
                                    Aenean faucibus nibh et justo cursus id rutrum lorem
                                    imperdiet. Nunc ut sem vitae risus tristique posuere.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Office environment  End-->
        <!--? Team Ara Start -->
        <section class="team-area section-padding40">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-70">
                            <span>Experts</span>
                            <h2>Our consultents</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="~/User/assets/img/gallery/team1.png" alt="">
                                <div class="team-social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Jacika Chouhan</a></h3>
                                <p>Senior business consultant</p>
                            </div>
                            <!-- Blog Social -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="~/User/assets/img/gallery/team2.png" alt="">
                                <div class="team-social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Dirluba Jahan</a></h3>
                                <p>Senior business consultant</p>
                            </div>
                            <!-- Blog Social -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="~/User/assets/img/gallery/team3.png" alt="">
                                <div class="team-social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Michel Frade</a></h3>
                                <p>Senior business consultant</p>
                            </div>
                            <!-- Blog Social -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="~/User/assets/img/gallery/team4.png" alt="">
                                <div class="team-social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Kalisha Milano</a></h3>
                                <p>Senior business consultant</p>
                            </div>
                            <!-- Blog Social -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team Ara End -->
        <!--? Want To work -->
        <section class="wantToWork-area section-bg2" data-background="~/User/assets/img/gallery/section_bg01.png">

            <div class="wantToWork-area section-bg2">

                <div class="container">
                    <div class="wants-wrapper w-padding2">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-xl-7 col-lg-7 col-md-12">
                                <div class="wantToWork-caption wantToWork-caption2">

                                    <h2>Need a consulting services?</h2>
                                    <p>The automated process starts as soon as your clothes go into the machine. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <a href="#" class="btn w-btn wantToWork-btn mr-20">Make an Appointment</a>
                                <a href="#" class="btn2 w-btn wantToWork-btn"><i class="fas fa-phone"></i> (89) 673 378-309</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Want To work End -->
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-wrapper section-bg2 pl-100">
            <div class="abc">
                <!-- Footer Start-->
                <div class="footer-area footer-padding">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="single-footer-caption mb-50">
                                    <div class="single-footer-caption mb-30">
                                        <!-- logo -->
                                        <div class="footer-logo mb-35">
                                            <a href="index.html"><img src="~/User/assets/img/logo/logo2_footer.png" alt=""></a>
                                        </div>
                                        <div class="footer-tittle">
                                            <div class="footer-pera">
                                                <p>The automated process starts as soon as your clothes go into the machine.</p>
                                            </div>
                                        </div>
                                        <!-- social -->
                                        <div class="footer-social">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                                <div class="single-footer-caption mb-50">
                                    <div class="footer-tittle">
                                        <h4>Our solutions</h4>
                                        <ul>
                                            <li><a href="#">Design & creatives</a></li>
                                            <li><a href="#">Telecommunication</a></li>
                                            <li><a href="#">Restaurant</a></li>
                                            <li><a href="#">Programing</a></li>
                                            <li><a href="#">Architecture</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                                <div class="single-footer-caption mb-50">
                                    <div class="footer-tittle">
                                        <h4>Company</h4>
                                        <ul>
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Review</a></li>
                                            <li><a href="#">Insights</a></li>
                                            <li><a href="#">Programing</a></li>
                                            <li><a href="#">Carrier</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="single-footer-caption mb-50">
                                    <div class="footer-tittle">
                                        <h4>Contact us</h4>
                                        <ul>
                                            <li><a href="#">consulto98@gmail.com</a></li>
                                            <li><a href="#">76/A, Green road, NYC</a></li>
                                            <li class="number"><a href="#">(80) 783 367-3904</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer-bottom area -->
                <div class="footer-bottom-area">
                    <div class="container-fluid">
                        <div class="footer-border">
                            <div class="row align-items-center">
                                <div class="col-xl-12 ">
                                    <div class="footer-copy-right">
                                        <p>
                                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                            Copyright &copy;
                                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer End-->
            </div>
        </div>
    </footer>
    <!-- Footer -->
    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="~/User/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/User/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/User/assets/js/popper.min.js"></script>
    <script src="~/User/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/User/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/User/assets/js/owl.carousel.min.js"></script>
    <script src="~/User/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/User/assets/js/wow.min.js"></script>
    <script src="~/User/assets/js/animated.headline.js"></script>
    <script src="~/User/assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="~/User/assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="~/User/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/User/assets/js/jquery.sticky.js"></script>
    <!-- Progress -->
    <script src="~/User/assets/js/jquery.barfiller.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="~/User/assets/js/jquery.counterup.min.js"></script>
    <script src="~/User/assets/js/waypoints.min.js"></script>
    <script src="~/User/assets/js/jquery.countdown.min.js"></script>
    <script src="~/User/assets/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="~/User/assets/js/contact.js"></script>
    <script src="~/User/assets/js/jquery.form.js"></script>
    <script src="~/User/assets/js/jquery.validate.min.js"></script>
    <script src="~/User/assets/js/mail-script.js"></script>
    <script src="~/User/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/User/assets/js/plugins.js"></script>
    <script src="~/User/assets/js/main.js"></script>


</body>
</html>
