@model InstituteOfFineArt.Models.Competition
@{
    ViewData["Title"] = "Createadd";
    Layout = "~/Views/Shared/_LayoutSchoolCreate.cshtml";
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Create</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
            <div class="col-md-7 col-4 align-self-center">
                <a href="https://themewagon.com/themes/material-bootstrap-4-free-admin-template/" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down">Download Now</a>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-block">
                        <form class="form-horizontal form-material col-md-12 float-right" asp-action="createadd" asp-controller="create" enctype="multipart/form-data">



                            <div class="form-group">
                                <label class="col-md-12">Name</label>
                                <div class="col-md-12 ">
                                    <input type="text" asp-for="NameCom" name="NameCom" pattern="[A-z]{5,10}" title="NameCom must have at least 5 letters and the first must be capitalized" placeholder="NameCom" required class="form-control form-control-line">
                                    @*<span asp-validation-for="NameCom"></span>*@
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-12">date_start</label>
                                <div class="col-md-12">
                                    <input type="datetime" asp-for="DateStart" placeholder="date_start" required class="form-control form-control-line">
                                    @*<span asp-validation-for="DateStart" class="text-danger"></span>*@
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">date_end</label>
                                <div class="col-md-12">
                                    <input type="datetime" asp-for="DateEnd" placeholder="date end" required class="form-control form-control-line">
                                    @*<span asp-validation-for="DateEnd" class="text-danger"></span>*@
                                </div>
                            </div>
                           
                 
                            <div class="form-group">
                           
                                <label class="col-md-12">Desc</label>
                                <div class="col-md-12">
                                    <textarea rows="5" asp-for="Desc" class="form-control form-control-line" required ></textarea>
                                    @*<span asp-validation-for="Desc"></span>*@
                                </div>
                            </div>
                    <div class="form-group">
                        <label class="col-md-12">Image</label>
                        <div class="col-md-12">
                            <input asp-for="ImgOfCom" type="file" name="file" value="Add" class="btn button border" onchange="show(this)" required>
                            <img id = "user_img" src="" alt="Alternate Text" class="img" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="submit" class="btn btn-success" value="ADD Create" />
                        </div>

                    </div>
                    </form>
                </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        <!-- Row -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
        © 2021 Institute Of Fine Art
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>


<script type="text/javascript">

   function show(input) {
      if (input.files && input.files[0]) {
          var filerdr = new FileReader();
          filerdr.onload = function (e) {
         $('#user_img').attr('src', e.target.result);
      }
      filerdr.readAsDataURL(input.files[0]);
   }
}
</script>

