@model InstituteOfFineArt.Models.Competition
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="create" asp-action="update" method="post" enctype="multipart/form-data">
    <div class="wrapper bg-white mt-sm-5">
        <h4 class="pb-4 border-bottom">Compitition settings</h4>
        <div class="d-flex align-items-start py-3 border-bottom">
            <img id="user_img" src="~/User/images/@Model.ImgOfCom" class="img" alt="">
            <div class="pl-sm-4 pl-2" id="img-section">
                <b>ImageCom Photo</b>
                <p>Accepted file type .png. Less than 1MB</p> <input type="file" name="file" value="Upload" class="btn button border" onchange="show(this)">
            </div>
        </div>
        <div class="py-2">
            <div class="row py-2">
                <div class="col-md-6"> <label for="firstname">Name_Com</label> <input type="text" class="bg-light form-control" asp-for="NameCom" placeholder="Your Name"> </div>
             
            </div>
            <div class="row py-2">
                <div class="col-md-6"> <label for="firstname">Desc</label><textarea rows="5" asp-for="Desc" class="form-control form-control-line"></textarea> </div>

            </div>
            <div class="row py-2">
                <div class="col-md-6 pt-md-0 pt-3"> <label for="lastname">Date_Start</label> <input asp-for="DateStart" type="datetime" class="bg-light form-control"> </div>

            </div>
            <div class="row py-2">
                <div class="col-md-6 pt-md-0 pt-3"> <label for="lastname">Date_end</label> <input asp-for="DateEnd" type="datetime" class="bg-light form-control"> </div>

            </div>
            
            <input type="hidden" asp-for="IdCom" />
            <div class="py-3 pb-4 border-bottom"> <input type="submit" value="Save Changes" class="btn btn-primary mr-3"> <button class="btn border button">Cancel</button> </div>
            <div class="d-sm-flex align-items-center pt-3" id="deactivate">
                <div>
                    <b>Deactivate your account</b>
                    <p>Details about your company account and password</p>
                </div>
                <div class="ml-auto"> <button class="btn danger">Deactivate</button> </div>
            </div>
        </div>
    </div>
</form>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript">

    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>

