@model InstituteOfFineArt.Models.Account
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Add</h1>

<div class="modal-body">
    <form asp-controller="account" asp-action="add" method="post">

        <div class="form-group">
            <label for="Name">Username</label>
            <input type="text" class="form-control" asp-for="Username" id="Username" placeholder="Username" />
            <span asp-validation-for="Username"></span>
        </div>
        <div class="form-group">
            <label for="Name">Password</label>
            <input type="password" class="form-control" asp-for="Pass" id="Password" placeholder="Password" />
            <span asp-validation-for="Pass"></span>
        </div>
        <div class="form-group">
            <label for="Name">Email</label>
            <input type="text" class="form-control" asp-for="Email" id="Email" placeholder="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div class="form-group">
            <label>Choose Role</label>
            <select class="form-control" id="selectRole" name="selectRole">
                @foreach (var role in ViewBag.listRoles)
                {
                    <option value="@role.NameRole">@role.NameRole</option>
                }

            </select>
        </div>
        <input type="submit" class="btn btn-primary" value="ADD" />
    </form>
</div>