@model InstituteOfFineArt.Models.Account



<h3>Add</h3>
<form method="post" asp-action="add" asp-controller="login" enctype="multipart/form-data">



    <table>
        <tr id="step1">
            <td>Username:  </td>
            <td><input type="text" asp-for="Username" /></td>
            <td><span asp-validation-for="Username"></span></td>
        </tr>
        <tr>
            <td>  Password: </td>
            <td><input type="password" asp-for="Pass" /></td>
            <td><span asp-validation-for="Pass"></span></td>

        </tr>
    

        <tr>
            <td> </td>
            <td><input type="submit" value="save" /></td>

        </tr>
    </table>
    <hr />

</form>