.wantToWork-area.section-bg2 {
    background-image: url(../img/gallery/section_bg01.png);
}
.footer-wrapper.section-bg2.pl-100 {
    background-image: url(../img/gallery/footer-bg.png);
}
section.office-environments.section-bg2.section-padding40 {
    background: #DCDCDC;
}


.slider-cap-wrapper {
    background-image: url(../img/gallery/section_bg01.png);
}
